<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link
      href="media/cv-screen.css"
      type="text/css"
      rel="stylesheet"
      media="screen"
    />
    <link
      href="media/cv-print.css"
      type="text/css"
      rel="stylesheet"
      media="print"
    />
    <link
      href="media/foundation-icons/foundation-icons.css"
      type="text/css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/774d5c5f58.js"
      crossorigin="anonymous"
    ></script>
  </head>
  

  
  <body>
    <div id="main">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
  
  
	<head>
    <meta charset="UTF-8">
    <title>marquee</title>
    <style>
        body {

            padding: 60px;
        }

    </style>
    </head>

    <body>
         <marquee direction="up" scrollamount="3" ><span style="font-size: 20px;color: black;">
		 2020.7.5 YJ Guan gets his Bachelar Degree @ SUSTech! <br>
		 2020.6.8 YJ Guan is selected as an EEE and Shude Colledge outstanding graduate!<br>
		 <br>
		 <br>
		 <br>
		 <br>
		 </span></marquee>
    </body>
	
</html>




